@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the personal website of Ryan Madden!</p>

    <p>Currently I am working on an Angular 6 app that will allow users (me and my friends) to plan our board game nights.  I am proud of it and hopfully will have it hosted soon!</p>
    <p class="lead">
        <button type="button" class="btn btn-light">@Html.ActionLink("Resume", "Resume", "Home")</button>
        <button type="button" class="btn btn-light">@Html.ActionLink("Projects", "Projects", "Home")</button>
    </p>
</div>


