
@{
    ViewBag.Title = "Resume";
}

<h1 class="display-4">Resume</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Languages
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">TypeScript</li>
                    <li class="list-group-item">SQL</li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Framework/Library
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">APS .NET</li>
                    <li class="list-group-item">Angular 2+</li>
                    <li class="list-group-item">Bootstrap</li>
                    <li class="list-group-item">jQuery</li>
                    <li class="list-group-item">SQL Server</li>
                    <li class="list-group-item">LINQ</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    IDE / Source Control
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Visual Studio 17</li>
                    <li class="list-group-item">Visual Studio Code</li>
                    <li class="list-group-item">Git Source Control</li>
                    <li class="list-group-item">Microsoft TFS</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                Work Expirence
            </div>
            <div class="card-body">
                <h5 class="card-title">IT Intern, WayStar (previsouly Zirmed)</h5>
                <p class="card-text">
                    At Zirmed I was part of a 4 person intern team, working to build web-apps for internal use.
                    I helped maintain and contributed to existing backend infrastructure in a .NET Web API project using LINQ and SQL Server.
                    I contributed to the development and design of an internal use Angular 5 application using TypeScript.
                    I collaborated with team to develop .NET MVC application using C#, Razor and JavaScript.
                    All code was tested, using MOQ, Jasmine, Karma and Protractor for unit and end-to-end testing in both .NET and Angular projects.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Operations Manager, Office Depot</h5>
                <p class="card-text">
                    As Operations Manager I oversaw the daily logistic processess, maintained store inventory, product settings and lead my team to ensure work efficiency.
                    Hopefully this will be somewhat relevent.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                Education
            </div>
            <div class="card-body">
                <h5 class="card-title">University of Louisville</h5>
                <p class="card-text">
                    Bachelor of Science in Applied Geography, Graduated May 2014
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Indiana University Southeast</h5>
                <p class="card-text">
                    Currently enrolled part-time while completing core Computer Science courses.
                </p>
            </div>
        </div>
    </div>


</div>






